@media (max-width: 1140px) {
	.card {
		width: calc(50% - 15px);
	}

	.footer {
		padding-top: 40px;
		padding-bottom: 60px;
	}
	.fotterRow {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
	}
	.footerIcoRow {
		justify-content: center;
		margin-bottom: 15px;
	}
}

@media (max-width: 760px) {
	.headerTitle {
		font-size: 32px;
	}
	.headerSubtitle {
		font-size: 14px;
	}

	.portfolio {
		padding-top: 40px;
		padding-bottom: 60px;
	}
	.portfolioHeader {
		font-size: 32px;
		margin-bottom: 30px;
	}

	.portfolioCardsWrapper {
		justify-content: center;
	}

	.card {
		max-width: 530px;
		width: 100%;
	}

	.card:nth-last-child(2) {
		margin-bottom: 30px;
	}

	.cardLink {
		padding: 15px;
	}

	.cardImg {
		margin-bottom: 10px;
	}

	.cardTitle {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.card p {
		font-size: 14px;
	}

	.footerCopyName {
		font-size: 18px;
		margin-bottom: 5px;
	}

	.footerCopyright p {
		font-size: 14px;
	}
	.footerIcoRow {
		justify-content: center;
		margin-bottom: 15px;
	}
	.footerIco p {
		font-size: 14px;
	}

	.footerCont p {
		font-size: 14px;
		margin: 0;
		margin-top: 15px;
	}

	.project {
		padding-top: 40px;
		padding-bottom: 60px;
	}
	.projectHeader {
		font-size: 28px;
		margin-bottom: 30px;
	}
	.projectImg {
		margin-bottom: 20px;
	}

	.projectDis {
		
		margin-bottom: 50px;
	}
	.projectBtnBack {
		padding: 0 10px ;
		width: 100%;
		max-width: 320px;
	}
}
